body {
  background: #545643;
}

section {
  background: #f1dede;
}

.main-header {
  color: #c89f9c;
}

.about-me{
  
}

.about-me__description {
  color: black;
}

.about-me__picture {

}

.about-me__title {
  color: #80727b;
}

.navigation {

}

.navigation__link {
  color: #bbacc1;
}

.navigation__link--top {
  color: #909580;
}

.week-note{

}

.week-note__description{
  color: black;
}

.week-note__heading {
  color: #909580;
}

.week-note__title {
 color: #80727b;
}
