body {
  background: #545643;
}

section {
  background: #f1dede;
}

.main-header {
  color: #c89f9c;
}

.about-me{
  display: block;
  max-width: 70%;
  max-height: 300px;
  position: relative;
  margin: 0 auto;
}

.about-me__description {
  color: black;
  display: block;
  position: relative;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-right: 20px;
}

.about-me__picture {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 14%;
  height: auto;
}
  

.about-me__title {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 10px;
  color: #80727b;
}

.navigation {
  display: block;
  padding-left: 10px;
}

.navigation__link {
  color: #bbacc1;
  padding-right: 10px;
}

.navigation__link--top {
  color: #909580;
  padding-left: 10px;
}

.week-note{
  display: block;
  min-width: 980px;
  min-height: 2630px;
  padding-bottom: 10px;
}

.week-note__description{
  color: black;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  border: 3px solid #c89f9c
}

.week-note__heading {
  color: #909580;
}

.week-note__title {
 color: #80727b;
 display: block;
  position: relative;
  padding-top: 10px;
 margin-right: 20px;
 margin-left: 20px;
}

.main-footer {
  display: block;
  margin: 10px;
}

.remember__description {
  color: black;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  padding-bottom: 20px;
}

.remember-footer {
  display: block;
  margin: 20px;
}

.remember-picture {
  display: block;
  width: 900px;
  height: 460px;
  margin: 0 auto;
}